#menumatic li { margin-left: 3px; }


.hbg_custom #menumatic li a {
	background-color: #39C7F6;
	color: #636;	
}


/* Based partially on Matthew Carroll's keyboard accessible flavor of Suckerfish 
 * Dropdowns by Patrick Griffiths and Dan Webb. 
 * http://carroll.org.uk/sandbox/suckerfish/bones2.html
 */

/* ----[ ie6 ]----*/

* html #subMenusContainer li, * html #menumatic li{
	margin-bottom:-0.99em;
}
* html #subMenusContainer li a{
	position:relative;
}

/* ----[ LINKS ]----*/

/* all menu links */
#menumatic a, #subMenusContainer a{
	text-decoration:none;
	display:block;
	padding:10px 20px;
	/* background-color: #fff; */
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}

#menumatic a {
	color: black;
	background-color: none; /* fix */
	border:1px solid white;
}

#menumatic a ul a {
	border: none;
}
/* Just main menu links --[for non-javascript users this applies to submenu links as well]*/
#menumatic a{
	margin:0;
	float:left;	
}

/* Just sub menu links */
#subMenusContainer a, #menumatic li li a{
	text-align:left;
}

/* All menu links on hover or focus */
#menumatic a:hover, #menumatic a:focus, #subMenusContainer a:hover, #subMenusContainer a:focus, #menumatic a.mainMenuParentBtnFocused, #subMenusContainer a.subMenuParentBtnFocused{
	background-color:#F6C739 ;
	color:#FFF;
}

/* sub menu links on hover or focus */
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#menumatic a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused,
#menumatic li a:hover,
#menumatic li a:focus{
	background-color:#F6C739 ;
	color:#FFF;
}

/* Parent Sub Menu Links ---[javascript users only]*/
.subMenuParentBtn{ 
	background: url(../images/menumatic/arrow_right.gif) right center no-repeat;  
}

/* Parent Sub Menu Links on hover or focus ---[javascript users only]*/
.subMenuParentBtnFocused{ 
	background: url(../images/menumatic/arrow_right_over.gif) right center no-repeat;  
}

/* Parent Main Menu Links ---[javascript users only]*/
.mainMenuParentBtn{	
	 background: url(../images/menumatic/arrow_down_over.gif) right center no-repeat; 
}

/* Parent Main Menu Links on hover or focus ---[javascript users only]*/
.mainMenuParentBtnFocused{	
	background: url(../images/menumatic/arrow_down_over.gif) right center no-repeat; 
}

/* ----[ OLs ULs, LIs, and DIVs ]----*/

/* Submenu Outer Wrapper - each submenu is inside a div with this class - javascript users only */
.smOW{ 
	display:none; 
	position: absolute; 
	overflow:hidden; 
	/*the 2px left & right padding lets you have a 1px border 
	  on the ul or ol inside since overflow is set to hidden*/
	padding:0 2px;
	margin:0 0 0 -2px;
}


/* All ULs and OLs */
#menumatic, #menumatic ul, #menumatic ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

/* All submenu OLs and ULs */
#menumatic ol, #menumatic ul, #subMenusContainer ul, #subMenusContainer ol {	
	/*border around submenu goes here*/	 
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background:#fff;	
	border:1px solid #C3D46A;
	left:0;
}


/* List items in main menu --[for non-javascript users this applies to submenus as well]  */
#menumatic li { 
	/*great place to use a background image as a divider*/
	display:block;
	list-style:none;
	position:relative;
	float:left;
}

#subMenusContainer li{
	list-style: none;
}

/* main menu ul or ol elment */
#menumatic {
	display:block;
	position: relative;
	list-style:none;
	margin:0 0 0 0;
	z-index:5;
	top:15px;
	/*left:50%;*/
	text-align: center;
	display:block;
}

#subMenusContainer{	
	display:block; 	position:absolute;	
	top:0;	left:0;	
	width:100%;	height:0;	
	overflow:visible;	z-index:1000000000; }


/* --------------------------[ The below is just for non-javscript users ]--------------------------*/
#menumatic li li{	float:none; }

#menumatic li li a{ /* Just submenu links*/	
	position:relative;
	float:none;
}

#menumatic li ul { /* second-level lists */
	position: absolute;
	width: 10em;
	margin-left: -1000em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	margin-top:2.2em;
}

/* third-and-above-level lists */
#menumatic li ul ul { margin: -1em 0 0 -1000em; }
#menumatic li:hover ul ul {	margin-left: -1000em; }

 /* lists nested under hovered list items */
#menumatic li:hover ul{	margin-left: 0; }
#menumatic li li:hover ul {	margin-left: 10em; margin-top:-2.5em;}

/* extra positioning rules for limited noscript keyboard accessibility */
#menumatic li a:focus + ul {  margin-left: 0; margin-top:2.2em; }
#menumatic li li a:focus + ul { left:0; margin-left: 1010em; margin-top:-2.2em;}
#menumatic li li a:focus {left:0;  margin-left:1000em; width:10em;  margin-top:0;}
#menumatic li li li a:focus {left:0; margin-left: 2010em; width: 10em;  margin-top:-1em;}
#menumatic li:hover a:focus{ margin-left: 0; }
#menumatic li li:hover a:focus + ul { margin-left: 10em; }
