/* > Activity Stream Posting
-------------------------------------------------------------- */

form#whats-new-form {
	margin-bottom: 5px;
	border-bottom: 1px solid #f0f0f0;
	overflow: hidden;
	padding-bottom: 20px;
}
	#item-body form#whats-new-form {
		margin-top: 20px;
		border: none;
	}

	.home-page form#whats-new-form {
		border-bottom: none;
		padding-bottom: 0;
	}

	form#whats-new-form h5 {
		margin: 0;
		font-weight: normal;
		font-size: 12px;
		color: #888;
		margin-left: 76px;
		padding: 0 0 3px 0;
	}

	form#whats-new-form #whats-new-avatar {
		float: left;
	}

	form#whats-new-form #whats-new-content {
		margin-left: 54px;
		padding-left: 22px;
	}

	form#whats-new-form #whats-new-textarea {
		padding: 8px;
		border: 1px inset #ccc;
		background: #fff;
		margin-bottom: 10px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}
	form#whats-new-form textarea {
		width: 100%;
		height: 60px;
		font-size: 14px;
		font-family: inherit;
		color: #555;
		border: none;
		margin: 0;
		padding: 0;
	}

	form#whats-new-form #whats-new-options select {
		max-width: 200px;
	}

	form#whats-new-form #whats-new-submit {
		float: right;
		margin: 0;
	}

/* > Activity Stream Listing
-------------------------------------------------------------- */

ul.activity-list li {
	padding: 20px 0 0 0;
	overflow: hidden;
}
	ul.activity-list > li:first-child {
		padding-top: 5px;
	}

	ul.activity-list li.has-comments {
		padding-bottom: 20px;
	}

.activity-list li.mini {
	position: relative;
	font-size: 11px;
	min-height: 35px;
	padding: 12px 0 0 0;
}
	.activity-list li.mini div.activity-meta {
		margin: 0;
	}

	.activity-list li.mini div.activity-meta a {
		padding: 3px 8px;
	}

	.activity-list li.mini .activity-avatar img.avatar,
	.activity-list li.mini .activity-avatar img.FB_profile_pic {
		width: 20px;
		height: 20px;
		margin-left: 36px;
	}
		.activity-list li.activity_comment .activity-avatar img.avatar,
		.activity-list li.activity_comment .activity-avatar img.FB_profile_pic {
			width: 40px;
			height: 40px;
			margin-left: 20px;
		}

		body.activity-permalink .activity-list li .activity-avatar img.avatar,
		body.activity-permalink .activity-list li .activity-avatar img.FB_profile_pic {
			width: 100px;
			height: 100px;
			margin-left: 0;
		}

	.activity-list li.mini .activity-content {
		margin-right: 175px;
	}

	.activity-list li.mini .activity-content p {
		margin: 0;
		float: left;
	}

	.activity-list li.mini .activity-meta {
		position: absolute;
		right: 0;
	}
		body.activity-permalink .activity-list li.mini .activity-meta {
			position: absolute;
			right: 15px;
		}

	.activity-list li.mini .activity-comments {
		clear: left;
		font-size: 12px;
		margin-top: 30px;
	}

.activity-list li .activity-inreplyto {
	font-size: 11px;
	color: #888;
	margin-left: 70px;
	margin-bottom: 15px;
	padding-left: 25px;
	background: url( ../images/replyto_arrow.gif ) 7px 0 no-repeat;
}
	.activity-list li .activity-inreplyto > p {
		margin: 0;
		display: inline;
	}

	.activity-list li .activity-inreplyto blockquote,
	.activity-list li .activity-inreplyto div.activity-inner {
		background: none;
		border: none;
		display: inline;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

.activity-list .activity-avatar img {
	width: 60px;
	height: 60px;
}
		body.activity-permalink .activity-list .activity-avatar img {
			width: 100px;
			height: 100px;
		}

.activity-list .activity-content {
	margin-left: 70px;
}
	body.activity-permalink .activity-list li .activity-content {
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		background: #fff;
		padding: 15px;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		margin-left: 135px;
		font-size: 16px;
		line-height: 150%;
		min-height: 35px;
		margin-right: 0;
	}
		body.activity-permalink .activity-list li .activity-header > p {
			background: url( ../images/activity_arrow.gif ) top left no-repeat;
			margin-left: -35px;
			padding: 5px 0 0 38px;
			height: 35px;
			margin-bottom: 0;
		}

	.activity-list .activity-content .activity-header,
	.activity-list .activity-content .comment-header {
		font-size: 11px;
		color: #888;
		line-height: 220%;
	}

	.activity-list .activity-header a:first-child, span.highlight {
		background: #EBF7FF;
		border-bottom: 1px solid #a1dcfa;
		border-right: 1px solid #a1dcfa;
		color: #059AE7;
		padding: 3px 8px;
		text-decoration: none;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		margin-right: 3px;
	}
		.activity-list .activity-header a:first-child:hover {
			background: #059AE7 !important;
			color: #fff !important;
		}
		.activity-list .activity-content a:first-child:focus { outline: none; }

		.activity-list .activity-content span.time-since {
			color: #bbb;
		}

	.activity-list .activity-content span.activity-header-meta a {
		background: none;
		padding: 0;
		font-size: 11px;
		margin: 0;
		border: none;
		color: #aaa;
		text-decoration: underline;
	}
		.activity-list .activity-content span.activity-header-meta a:hover {
			color: inherit;
			text-decoration: none;
		}

	.activity-list .activity-content .activity-inner,
	.activity-list .activity-content blockquote {
		margin: 15px 0 15px 5px;
		overflow: hidden;
	}
		body.activity-permalink .activity-content .activity-inner,
		body.activity-permalink .activity-content blockquote {
			margin-top: 5px;
		}

		/* Backwards compatibility. */
		.activity-inner > .activity-inner { margin: 0 !important; }
		.activity-inner > blockquote { margin: 0 !important; }

	.activity-list .activity-content img.thumbnail {
		float: left;
		margin: 0 10px 5px 0;
		border: 2px solid #eee;
	}

.activity-list li.load-more {
	margin: 15px  0 !important;
	padding: 10px 15px !important;
	background: #f0f0f0 !important;
	text-align: center;
	font-size: 1.2em;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
	.activity-list li.load-more a {
		color: #555;
	}

/* > Activity Stream Comments
-------------------------------------------------------------- */

div.activity-meta {
	margin: 0 0 20px 3px;
	clear: left;
}

.activity-list div.activity-meta a {
	font-size: 11px;
	background: #f4f4f4;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #999;
	padding: 4px 8px;
	text-decoration: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin-right: 3px;
}
	.activity-list div.activity-meta a.acomment-reply {
		background: #FFF9DB;
		border-bottom: 1px solid #FFE8C4;
		border-right: 1px solid #FFE8C4;
		color: #ffa200;
	}

	div.activity-meta a:focus { outline: none; }
	div.activity-meta a:hover {
		background: #aaa;
		color: #fff;
		border-color: #aaa;
	}
		div.activity-meta a.acomment-reply:hover {
			background: #f7740a;
			color: #fff;
			border-color: #f7740a;
		}

div.activity-comments {
	position: relative;
	margin: 0 0 0 75px;
	width: auto;
	overflow: hidden; /* IE fix */
}

	body.activity-permalink div.activity-comments {
		width: auto;
		margin-left: 135px;
		background: none;
	}

div.activity-comments > ul {
	background: #f5f5f5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
div.activity-comments ul, div.activity-comments ul li {
	border: none;
	list-style: none;
}

	div.activity-comments ul {
		clear: left;
	}

	div.activity-comments ul li {
		border-top: 2px solid #fff;
		padding: 10px 15px 10px 0;
		margin-left: 15px;
	}
		body.activity-permalink div.activity-comments ul li {
			border-width: 1px;
			padding: 15px 0 15px 0;
		}

		div.activity-comments ul li p:last-child {
			margin-bottom: 0;
		}

		div.activity-comments > ul > li:first-child {
			border-top: none;
		}

		div.activity-comments ul li:last-child {
			margin-bottom: 0;
		}

	div.activity-comments ul li > ul {
		margin-top: 5px;
		margin-left: 25px;
	}
		body.activity-permalink div.activity-comments ul li > ul {
			margin-top: 15px;
		}

	div.activity-comments div.acomment-avatar img {
		border-width: 2px !important;
		float: left;
		margin-right: 10px;
	}

	div.activity-comments div.acomment-content {
		font-size: 11px;
		margin-left: 39px;
		margin-top: 5px;
	}
		div.acomment-content .time-since { display: none; }
		div.acomment-content .activity-delete-link { display: none; }
		div.acomment-content .comment-header { display: none; }

		body.activity-permalink div.activity-comments div.acomment-content {
			font-size: 14px;
		}

	div.activity-comments div.acomment-meta {
		font-size: 11px;
		color: #888;
	}

	div.activity-comments form.ac-form {
		display: none;
		margin: 10px 0 10px 33px;
		background: #eee;
		border-bottom: 1px solid #ddd;
		border-right: 1px solid #ddd;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 8px;
	}
		div.activity-comments li form.ac-form {
			margin-right: 15px;
		}

		div.activity-comments form.root {
			margin-left: 0;
		}

		div.activity-comments div#message {
			margin-top: 15px;
			margin-bottom: 0;
		}

		div.activity-comments form.loading {
			background-image: url( ../images/ajax-loader.gif );
			background-position: 2% 95%;
			background-repeat: no-repeat;
		}

		div.activity-comments form .ac-textarea {
			padding: 8px;
			border: 1px inset #ccc;
			background: #fff;
			margin-bottom: 10px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
			div.activity-comments form textarea {
				width: 100%;
				font-family: inherit;
				font-size: 11px;
				color: #555;
				height: 60px;
				border: none;
				padding: 0;
			}
				div.activity-comments form input {
					margin-top: 5px;
				}

		div.activity-comments form div.ac-reply-avatar {
			float: left;
		}
			div.ac-reply-avatar img {
				border: 2px solid #fff !important;
			}

		div.activity-comments form div.ac-reply-content {
			margin-left: 25px;
			padding-left: 15px;
			color: #888;
			font-size: 11px;
		}
