
/* > Buttons
-------------------------------------------------------------- */

a.button, input[type=submit], input[type=button],
ul.button-nav li a, div.generic-button a {
	background: url( ../images/buddypress/white-grad.png ) top left repeat-x;
	border: 1px solid #ddd;
	padding: 3px 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	color: #888;
	font-size: 12px;
	font-weight: normal;
	vertical-align: bottom;
	cursor: pointer;
}
	a.button:hover, a.button:focus, input[type=submit]:hover, input[type=button]:hover,
	ul.button-nav li a:hover, ul.button-nav li.current a,
	div.generic-button a:hover {
		border-color: #aaa;
		color: #555;
		outline: none;
	}

	/* Buttons that are disabled */
	div.pending a, a.disabled {
		border-color: #eee;
		color: #bbb;
		cursor: default;
	}
	div.pending a:hover, a.disabled:hover { border-color: #eee; color: #bbb; }

	div.accept, div.reject {
		float: left;
		margin-left: 10px;
	}

ul.button-nav li {
	float: left;
	margin: 0 10px 10px 0;
}
	ul.button-nav li.current a {
		font-weight: bold;
	}
