a.more-link:hover, .button:hover,
#gloss:hover {
	background : url(../../images/gloss/bar-green.gif) repeat-x;
}

div.item-list-tabs ul li a:hover,
ul.button-nav li a:hover, 
div.generic-button a:hover,
div.bp-widget h4:hover,
.directory #sidebar h3:hover,
.widget h3:hover {
	background : url(../../images/gloss/title-green.gif) no-repeat;	
}

.widget_pages ul li:hover,
.widget_pages ul li li:hover,
.widget_buddypages ul li:hover,
.widget_buddypages ul li li:hover {
	background : url(../../images/gloss/item-green.gif) no-repeat;	
}

.breadcrumbs:hover a,
.widget_pages ul li:hover a,
.widget_pages ul li li:hover a {	color : #848; }

.breadcrumbs a:hover { color : #808; }
